/** tab pane **/
/** design of the tabs **/
.tab:top{
    -fx-padding: 0 30 0 30;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #56494c;
    -fx-border-color: gray;
    -fx-border-widht: 0.5px;
 }

 .tab:top:selected{
     -fx-background-color: #847e89;
 }

/** textcolor tabs **/
.tab-pane:top .tab-header-area .headers-region .tab:top:selected .tab-container .tab-label{
    -fx-text-fill: #575a5d;
}
.tab-pane:top .tab-header-area .headers-region .tab:top .tab-container .tab-label{
    -fx-text-fill: #9fa4a9;
}

/** tab area **/
.tab-pane:top .tab-header-area .tab-header-background{
    -fx-background-color: #56494c;

}

.tab-pane:top .tab-content-area{
    -fx-padding: 30 30 30 30;
     -fx-background-color: #c2d3cd;
    -fx-border-color: gray;
    -fx-border-width: 0.5px;
}


/** design tabs **/
.tab-pane:top{
    -fx-close-tab-animation: none;
       -fx-open-tab-animation: none;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.0em 0.166667em 0.0em 0.0em;
}


.tree-view{
 -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tree-view .tree-cell {
    -fx-background-color: #afbfc0 ;
    -fx-text-fill: #56494c ;
}

.tree-view .virtual-flow .clipped-container .sheet .tree-cell:selected{
        -fx-background-color: #9fa4a9;
}



/** split pane **/
.split-pane:horizontal .split-pane-divider{
    -fx-padding: 0 0 0 0;
}

.split-pane:vertical .split-pane-divider{
    -fx-padding: 0 0 0 0;
}

.scroll-pane{
    -fx-padding: 5 5 5 5;
}


/** Background **/

.scroll-pane{
     -fx-background-color: #c2d3cd;
}

.scroll-pane .scroll-bar:vertical{
    -fx-background-color: #c2d3cd;
}
.scroll-pane .scroll-bar:vertical .track-background{
    -fx-background-color: #c2d3cd;
}
.anchor-pane{
     -fx-background-color: #c2d3cd;
}

#contentPane{
      -fx-background-color: #c2d3cd;
}

GridPane{
    -fx-background-color: #c2d3cd;
}

.button:disabled{
    -fx-opacity: 1.0 ;
    -fx-background-color: #afbfc0;
}

.button{
    -fx-background-color: #9fa4a9;
    -fx-padding: 5 5 5 5;
    -fx-min-width: 30;
    -fx-min-height: 30;
}
